<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">Angular CRUD</h1>
    <div class="d-flex">
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        class="btn btn-success"
        (click)="clickAddEmployee()"
      >
        Add Employee
      </button>
    </div>
  </div>
</nav>

<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeData">
      <td>{{ row.id }}</td>
      <td>{{ row.firstName }}</td>
      <td>{{ row.lastName }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.mobile }}</td>
      <td>{{ row.salary }}</td>
      <td>
        <button
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          (click)="onEdit(row)"
        >
          Edit
        </button>
        <button class="btn btn-danger mx-3" (click)="deleteEmployee(row.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Employee Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >First Name</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="firstName"
              required
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >LastName</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="lastName"
              required
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email ID</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Mobile Number</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="mobile"
              required
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Salary</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="salary"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="showAdd"
          (click)="postEmployeeDetails()"
        >
          Add
        </button>
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="showEdit"
          (click)="updateEmployeeDetails()"
        >
          update
        </button>
      </div>
    </div>
  </div>
</div>
